*{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}
.section:nth-child(1){
    background: url("../img/pic_1_2.jpg") no-repeat center;
}

.section:nth-child(2){
    background: url("../img/pic_2.jpg") no-repeat center;
}
.section:nth-child(3){
    background: url("../img/pic_3.jpg") no-repeat center;
}
.section:nth-child(4){
    background: url("../img/pic_4.jpg") no-repeat center;
}
.section:nth-child(5){
    background: url("../img/pic_5.jpg") no-repeat center;
}
.section:nth-child(6){
    background: url("../img/pic_6.jpg") no-repeat center;
}
.section:nth-child(7){
    background: url("../img/pic_7.jpg") no-repeat center;
}
.section:nth-child(8){
    background: url("../img/pic_8.jpg") no-repeat center;
}
.section:nth-child(9){
    background: url("../img/pic_9_1.jpg") no-repeat center;
}
.section:nth-child(10){
    background: url("../img/pic_10.jpg") no-repeat center;
}



.section {
    position: relative;
    overflow: hidden;
}
.section .bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.section .bg img {
    display: block;
    width: 100%;
    height: 100%;
}
.bg11 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 850px;
    background: url(../img/bg11.png) 50% 0 no-repeat;
    transition: all 1s;
}
.bg12 {
    position: absolute;
    bottom: -392px;
    width: 100%;
    height: 392px;
    background: url(../img/bg12.png) 50% 0 no-repeat;
    opacity: 0;
    transition: all 1.7s;
    bottom: 90px\0;
}
.bg13 {
    position: absolute;
    bottom: -377px;
    width: 100%;
    height: 377px;
    background: url(../img/bg13.png) 50% 0 no-repeat;
    transition: all 1s;
}
.hgroup {
    position: absolute;
    width: 554px;
    height: 176px;
    left: 50%;
    top: 25%;
    margin: 0 0 0 -277px;
    text-indent: -9999px;
    background-image: url(../img/slogan.png);
    opacity: 0;
    -webkit-transform:scale(0.5, 0.5);
    transform:scale(0.5, 0.5);
    transition: all 1s;
}